#centre_panel{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    min-height: 700px;
    margin-top:0px;
    background:#424242;
}

#nav_menu li{
    list-style-type: none;
}
#nav_menu li a{
    display: block;
    text-align: left;
    padding-left:10px;
    line-height: 35px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    border-right: 2px solid #dadada;
    border-right-color: rgba(0,0,0,0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255,255,255,0.7);
    border-bottom: 1px solid #dddddd;
}

#nav_menu li a.selected{
 border-right: 2px solid #D26911;
}
#nav_menu ul{
    position: relative;
    padding:0px;
    margin-left:35px;
    font-size:14pt;
    width: 190px;    
    font-weight: bold;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #eaeaea;
    border-bottom-color: #cacaca;
    border-radius: 3px;
}

#nav_menu{
    float:left;
    margin-top:35px
}

#copyright{
    color: #808080;    
    width: 190px;   
    position: absolute;
    margin-top : 352px;
    border-radius : 3px;
    font-size: 13px;    
    border: 1px solid #cacaca;
    margin-left :35px;
    background-color: #eaeaea;
}
#content{        
    float: right;    
    width: 595px;  
    min-height: 500px;
    position: relative;
    margin-top : 54px;
    margin-right : 35px;
    border-radius : 3px;
    font-size: 13px;    
    border: 1px solid #cacaca;
    margin-left :35px;
    background-color: #eaeaea;
}

#subject{
    width:500px;
    border-radius: 5px 5px 5px 5px;
    padding:10px;
    font-size: 16px;
}
#contactFrm{
    margin-top:35px;
    margin-left: auto;
    margin-right:auto;
    width:500px;
}
#message{
    width:500px;
    height:200px;
    border-radius: 5px 5px 5px 5px;
    padding:10px;
    font-size: 16px;
}

.user-error-bubble{
    position: relative;
    display: inline-block;
    min-width: 250px;
    height: 20px;
    padding: 0px;
    color:#d58a8a; 
    background: #fff4f4;
    padding-left: 10px;
    border: #d58a8a solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
#user-error{
    /*visibility: hidden;*/
    position: absolute;
    margin-top: 10px;
    margin-left: 67px;
    width:475px;
}

.contact-error-correction{    
    visibility:hidden;   
}
#content{
    color:black;
}

#success_message{
    margin-top: 35px;
}